<launch>
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0 0 2 0 3.14159 0 world usb_cam 1000" />

  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

  <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>

  <include file="$(find apriltags)/launch/usb_cam_apriltags.launch"/>

  <node name="apriltags_tf" pkg="apriltags" type="tf_broadcaster"/>

  <node name="rviz" pkg="rviz" type="rviz" ns="rviz"/>
</launch>
