<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="1 0 0 0 0 0 world map 1000" />
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0 1 0 0 0 0 world usb_cam 1000" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="camera_info_url" value="package://usb_cam/camera_info/head_camera.yaml"/>
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>
  <node name="rviz" pkg="rviz" type="rviz" ns="rviz"/>
</launch>
